
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">In Shop</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Wishlist</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Wishlist Section:::... -->
    <div class="wishlist-section">
        <!-- Start Cart Table -->
        <div class="wishlish-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Wishlist Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_stock">Offer</th>
                                            <th class="product_stock">category</th>
                                            <th class="product_stock">Stock Status</th>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_remove">Edit</th>
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        <!-- Start Wishlist Single Item-->
                                        <% product.forEach(function(product){ %>    
                                        <tr>
                                           
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="<%=product.imageurl %>"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html"> <%=product.name %>
                                                    </a></td>
                                            <td class="product-price"><%=product.price %></td>
                                            <td class="product_stock"><%=product.offer %></td>
                                            <td class="product_stock"><%=product.category %></td>
                                            <td class="product_stock"><%=product.stock %></td>

                                            <td class="product_remove"><a href="/admin/deleteproduct/<%=product._id %>"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_remove"><a href="/admin/editproduct/<%=product._id %>"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr> <!-- End Wishlist Single Item-->
                                        <% }); %>
                                    </tbody>
                                </table>
                               
                            </div>
                        
                        </div>
                    </div>
                </div>
                <a href="/admin/addproduct"
                class="btn btn-lg btn-outline-aqua icon-space-left mt-5">Add More Product <span><i
                        class="ion-ios-arrow-thin-right"></i></span></a>
            </div>
            
        </div> <!-- End Cart Table -->
    </div> <!-- ...:::: End Wishlist Section:::... -->
    

