
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Cart</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Cart</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Cart Table Head -->
                                    <thead style="border-bottom:green;">
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Quantity</th>
                                            <!-- <th class="product_total">Price</th> -->
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        <!-- Start Cart Single Item-->
                                        <% cartItems.forEach(function(cartItem){ %>  
                                           
                                        <tr>
                                            <% cartItem.productDetails.forEach(function(productDetails){ %>  

                                            <td class="product_remove"><a href="/deletefromcart/<%= productDetails._id %>/<%= productDetails.price %> "><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_thumb"><a href="/singleproductview/<%=productDetails._id %>"><img
                                                        src="<%= productDetails.imageurl %>"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html"> <%=productDetails.name %>
                                                    </a></td>
                                            <td class="product-price">&#x20B9; <%=productDetails.price %></td>

                                            <!-- inc and decr -->

                                            <td>
                                                <div class="input-group ml-5">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" onclick="changeQuantity('<%= productDetails.price %>','<%= productDetails._id %>','<%=cartItem._id%>', -1)"  data-type="minus" data-field="minus">-
                                                          <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                    <div class="ml-3 mr-3 ">
                                                       <span style="font-weight:900;" id="<%= productDetails._id %>"><%=cartItem.quantity%></span>  
                                                    </div>
                                                   
                                                    <span class="input-group-btn">
                                                        <button type="button"  class="quantity-right-plus btn btn-success btn-number" onclick="changeQuantity('<%= productDetails.price %>','<%= productDetails._id %>','<%=cartItem._id%>', 1)" data-type="plus" data-field="">+
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>


                                            <!-- <td class="product_quantity"><label>Quantity</label> <input min="1"
                                                    max="100" value="<%=cartItem.quantity%>" type="number"></td> -->
                                            <!-- <td class="product_total" >&#x20B9; <span id="sTotal"><%= (productDetails.price * cartItem.quantity) %></span></td>                                        -->
                                        </tr> <!-- End Cart Single Item-->
                                        <!-- Start Cart Single Item-->
                                        <% }); %>
                                        <% }); %>
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="cart_submit">  
                                <button  class="btn btn-md btn-green" type="submit"> Checkout</button>
                            </div> -->
                            <div class="checkout_btn">
                                <a href="/checkoutpage"  class="btn btn-md btn-green mt-2 mb-2 mr-2"> Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->

        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <form  id="couponform" >
                                    <p>Enter your coupon code if you have one.</p>
                                    <input class="mb-2" placeholder="Coupon code" name="coupon" type="text">
                                    <input class="mb-2" id="hiddentotal" value="<%=carttotal%>" name="total" type="hidden">
                                    <button type="submit" class="btn btn-md btn-green">Apply coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount" >&#x20B9; <span id="pTotal"><%=carttotal%> </span></p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount"><span>Flat Rate:</span> 50</p>
                                </div>
                                <a href="#">Calculate shipping</a>

                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount" >&#x20B9; <span id="mTotal"><%=carttotal + 50%></span></p>
                                </div>
                                <div class="cart_subtotal">
                                    <p id="tLabel"></p>
                                    <p class="cart_amount" > <span id="couTotal"></span></p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="/checkoutpage" class="btn btn-md btn-green">Proceed to Checkout</a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Coupon Start -->
    </div> <!-- ...:::: End Cart Section:::... -->

    <script>
        async function changeQuantity(prodPrice, prodId, cartId, count){
            let quandity = parseInt(document.getElementById(prodId).innerHTML ) 
            // console.log(quandity, prodPrice, prodId, cartId, count);

            try{

                const result = await fetch('/changequandity', {
                    method: 'post',
                    body: JSON.stringify({quandity, prodPrice, prodId, cartId, count}),
                    headers: {'content-Type': 'application/json'}
                })
                const data = await result.json() 
                if(data.removed){
                    alert("product has been removed from the cart")
                    location.reload()
                }else{
                    // const singletotal = parseInt(prodPrice)  + parseInt(prodPrice)  *  parseInt(count) 
                    document.getElementById(prodId).innerHTML = quandity + count
                    document.getElementById('pTotal').innerHTML = data.userCart.total
                    document.getElementById('mTotal').innerHTML = data.userCart.total + 50
                    document.querySelector('#sTotal').innerHTML = data.userCart.total - (count * prodPrice)    
                    
                    document.getElementById('hiddentotal').value = data.userCart.total 
                }
            }catch(err){
                console.log(err);
            }
        }

        // const form = document.getElementById('couponform')


        // form.addEventListener('submit', async (e) => {
        //     e.preventDefault()

        //     const formData = new FormData(form)
        //     const plainFormData = Object.fromEntries(formData.entries())
        //     const formDataJsonString = JSON.stringify(plainFormData)

        //     try{
        //         const result = await fetch('/applycoupon', {
        //         method: 'POST',
        //         body: formDataJsonString,
        //         headers: { 'Content-Type': 'application/json' }

        //     })
        //     const data = await result.json() 
        //     if(data.tot){
        //         console.log(data.tot);
        //         document.getElementById('tLabel').innerHTML = 'Total Including Coupon Discount :'
        //         document.getElementById('couTotal').innerHTML = data.tot + 50

        //     }
        //     }catch(err){
        //         console.log(err);
        //     }
        // })
    </script>
