
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Order History</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Wishlist</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Wishlist Section:::... -->
    <div class="wishlist-section">
        <!-- Start Cart Table -->
        <div class="wishlish-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Wishlist Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_thumb">S.No</th>
                                            <th class="product_name">Date</th>
                                            <th class="product_name">Address</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-price">Status</th>        
                                            <th class="product_addcart">View</th>
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>       
                                        <!-- Start Wishlist Single Item-->
                                        <% orders.forEach(function(order, index){ %>
                                            
                                        <tr>
                                            <td ><%=index + 1%></td>
                                            <td class="product_stock"><%=order.createdAt%></td>
                                             
                                             
                                            <td class="product_name"><%=order.deliveryDetails%></td>
                                            <td class="product-price">$<%=order.totalamount%></td>
                                            <td class="product_stock"><%=order.orderstatus%></td>
                                            <td class="product_addcart"><a href="/orderproductview/<%=order._id%>" class="btn btn-md btn-green">Product
                                                    Details</a></td>

                                        </tr> <!-- End Wishlist Single Item-->
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->
    </div> <!-- ...:::: End Wishlist Section:::... -->
